page-criteres {

  ion-header{
    ion-icon{
      position:absolute !important;
      right:10px !important;
    }
  }
  ion-content {
    background-color:#f1f1f1 !important;

    #infoFacultative{
      display:inline !important;
      position : absolute !important;
      right:10px !important;
      top: 0 !important;
      max-width:35% !important;
      max-height:13% !important;
    }
    .label {
      font-size: 16px;
      color: gray;
      font-weight: bold;

    }
  }
}
