page-information {



    //Desactiver le soulignement par défaut
    .item-md.item-block .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
}
.list-md .item-input.input-has-focus:last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}

    ion-content{
        background-color: lightblue !important;
        
        ion-card{
            position:absolute;
            top:50px;
            height:87% !important;
            width:85% !important;
			border-right:solid 12px rgb(72,138,255);
        }
        
        #btnNext{
            position:absolute;
            right: 7% !important;
            width:110px;
			display:inline-block !important;
            
        }
		
		#btnBefore{
            position:absolute;
            left: 7% !important;
            width:110px;
			display:inline-block !important;
            
        }
        
        ion-item{
            border:none;
            border-radius:3px;
            margin-bottom:10px !important;
            height: 10px !important;
            background-color: #f1f1f1 !important;
            width:80% !important;
            position:absolute;
            left:10%;
        }
        
		#inscriptionHeader{
			font-size:22px;
			color:blue;
			margin-left:10%;
			margin-top:10%;
			font-weight:bold;
			}
        
		.label{
			margin-left:10%;
			font-size:14px;
			font-family: "Calibri",  monospace;
			letter-spacing: 2px;
			color:gray;
			}
			
		.asterisque{
			color:red;
		}
			
		#annee1{
			margin-left:10% !important;
			width:10% !important;
		}
		.annee{
			margin-left:5% !important;
			width:10% !important;
		}
		
		#homme{
			margin-left:10% !important;
		}
		
		#femme{
			margin-left:-1.6%;
		}
    }     

}
