page-recherche {
     //Desactiver le soulignement par défaut
     .item-md.item-block .item-inner,
     .item-md.item-input.input-has-focus .item-inner,
     .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
     .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
     .list-md .item-input.input-has-focus:last-child,
     .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
     .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
         border-bottom: none;
         box-shadow: none;
     }

    ion-header{
      #header{
        text-align:center;
        font-size:19px;
        color:gray;
        font-family: Calibri;
      }

    }
    ion-content {
        

        .profile-image{
            width: 359px;
            height: 300px;
            
        }

      h2{
        text-align:center;
        font-weight:bold !important;
        font-size:18px !important;
        margin-bottom:10px !important;
      }

      .descriptif {
        text-align:center;
        color:gray;
        font-size:15px;
      }

      .uppercase, h2:first-letter {
        text-transform:uppercase;
      }

      button{
        margin-left:10% !important;

      }

      img{
        margin-left:5%;
      }


    }
    


}
